// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

// 共通レイアウト
html, body {
    background-color: #f5f5f5;
    height: 100%;
}

#header {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    
    .header-button {
        text-decoration: none;
        padding: 20px 25px;
        color: black;
    }
    
    .header-button:hover {
        background-color: rgba(213, 218, 229, 0.6);
        transition: 1.0s;
    }
    
    #logo {
        margin-left: 20px;
        display: inline-block;
        height: 50px;
    }
    
    #user-name {
        margin: auto 120px auto 0;
        font-size: 18px;
        color: #333333;
    }
}

#nav-container {
    display: flex;
    flex-direction: row-reverse;
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    
    a,
    a:visited,
    a:focus,
    a:active,
    a:link {
        text-decoration: none;
        outline: 0;
    }
    
    ul {
        padding: 0;
        list-style: none;
    }
    
    .bg {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        background: #000;
    }
        
    .button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        -webkit-appearance: none;
        border: 0;
        background: transparent;
        border-radius: 0;
        height: 60px;
        width: 45px;
        cursor: pointer;
        pointer-events: auto;
        margin-right: 15px;
        padding-right: 20px;
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    
    .icon-bar {
        display: block;
        width: 100%;
        height: 3px;
        color: #222222;
        background: #aaa;
        transition: .3s;
    }
    
    .icon-bar + .icon-bar {
        margin-top: 5px;
    }
    
    #nav-content {
        margin-top: 60px;
        padding: 20px;
        width: 100%;
        max-width: 300px;
        top: 0;
        left: 0;
        height: calc(100% - 60px);
        background: #ececec;
        pointer-events: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        transform: translateX(120%);
        transition: transform .3s;
        contain: paint;
        
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        li a {
            padding: 20px 5px;
            display: block;
            color: #222222;
            text-transform: uppercase;
            transition: color .1s;
        }
        
        li a:hover {
            color: #BF7497;
        }
    }
}



#nav-container * {
    visibility: visible;
}

#nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
}

#nav-container:focus-within .button {
    pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0,8px,0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-container:focus-within #nav-content {
    transform: translateX(20%);
}

