
.contents {
  min-width: 1150px;
}

.wrapper {
  margin: 150px 50px 100px 50px;
}

.wrapper:first-child {
  margin: 50px 40px;
}

h2 {
  font-weight: 700;
  border-bottom: 1px solid;
}

#cover-image {
  padding-top: 60px;
  width: 100%;
  // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

#contents-main {
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

#search-wrapper {
  h2 {
    text-align: center;
    border: none;
  }

  #search-form {
    margin: 20px 0;
  }

  div {
    text-align: center;
  }

  #form-control {
    width: 600px;
  }
}

.search-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.search_container input[type="text"]{
  padding-left: 20px;
  border: none;
  border: 1px solid #575757;
  height: 35px;
  width: 700px;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container button[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #575757;
  color: #fff;
  outline : none;
  min-width: 3.0em;
  height: 35px;
  margin-top: 0.5px;
  padding: 0 10px;
  text-align: center;

  i {
    font-size: 20px;
  }
}


#popular-area-wrapper {
  h2 {
    width: 94%;
    margin: 0 auto;
  }

  #popular-area-list {
    list-style-type: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    form {
      padding: 3em;
    }

    input {
      display: none;
    }

    .popular-area-image {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    h4{
      margin-top: 15px;
      font-weight: 600;
    }
  }
}



#plan-wrapper {
  display: flex;
  justify-content: space-around;

  #new-plan-wrapper{
    width: 45%;
  }

  #popular-plan-wrapper{
    width: 45%;
  }
}

// .spot-component-area {
//   display: flex;
//   justify-content: center;
// }

.spot-component-outer {
  max-width: 1500px;
  margin: 10px auto;
}

#spot-wrapper .spot-item-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0px;
  }
