
.wrapper {
  margin: 100px 50px;
}

.wrapper:first-child {
  margin: 50px 40px;
}

h2 {
  font-weight: 700;
}

#cover-image {
  padding-top: 60px;
  width: 100%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

#contents-main {
  margin: 50px 40px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

#search-wrapper {
  h2 {
    text-align: center;
  }
  
  #search-form {
    margin: 20px 0;
  }
  
  div {
    text-align: center;
  }
  
  #form-control {
    width: 600px;
  }
}

#popular-area-wrapper {
  h2 {
    width: 94%;
    margin: 0 auto;
  }
  
  #popular-area-list {
    list-style-type: none;
    padding: 10px 20%;
    display: flex;
    justify-content: space-between;
    
    a {
      font-size: 30px;
      margin: 5px 15px;
    }
  }  
}



#plan-wrapper {
  display: flex;
  justify-content: space-around;
  
  #new-plan-wrapper{
    width: 45%;
  }
  
  #popular-plan-wrapper{
    width: 45%;
  }
}

.plan-item-wrapper{
  padding: 10px 0px;
  
  .plan-item {
    height: 200px;
    padding: 20px 15px;
    margin-bottom: 15px;
    border: solid 0.1px rgba(204, 204, 204, 0.8);
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .5);
    display: flex;
    text-decoration: none;
    color: black;
    
    .plan-image {
      height: 100%;
      width: 120px;
      border-radius: 10px;
      object-fit: cover;
    }
    
    .plan-outline-wrapper {
      padding-left: 30px;
      
      .plan-title {
        font-size: 20px;
      }
    }
  }
  .plan-item:last-child {
    margin-bottom: 0;
  }
}


#spot-wrapper {
  h2 {
    width: 94%;
    margin: 0 auto;
  }
  
  .spot-item-wrapper {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .spot-item {
      height: 300px;
      width: 250px;
      margin: 0 20px 20px 20px;
      padding: 0;
      border: solid 0.5px rgba(77, 77, 77, 0.5);
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
      text-decoration: none;
      color: black;
    
      .spot-image-wrapper {
        height: 200px;
        background-color: #e6e6e6;
        border-bottom: solid 0.5px rgba(77, 77, 77, 0.5);
        display: flex;
        justify-content: center;
      }
    
      .spot-image {
        margin-top: 2%;
        height: 95%;
        border-radius: 5px;
      }
    }
  }
}