.mypage {
  display: grid;
  place-items: center;
}

.contents-outer {
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
  margin: 120px 0 60px 0;
  min-height: 870px;
  min-width: 1300px;

  .contents-title {
    text-align: center;
    margin-top: 30px;
  }

  .contents-wrapper {
    display: flex;
    justify-content: center;
    height: 85%;
    margin-top: 50px;

    .contents-profile {
      margin-top: 40px;
      width: 30%;

      .profile-area-outer {
        border: solid 1px rgba(204, 204, 204, 0.8);
        border-radius: 10px;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3);

        .profile-area {
          margin: 0 20px;

          h3 {
            margin: 20px 0 35px 0;
            text-align: center;
          }

          .profile-info-area {
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-image-area {
              width: 155px;

              img {
                width: 155px;
                height: 155px;
                border-radius: 50%;
              }
            }

            .profile-count-area {
              width: 55%;
              display: flex;
              justify-content: center;

              h4 {
                text-align: center;
              }

              .post-count-area {
                width: 50%;
              }

              .followed-count-area {
                width: 50%;
              }
            }
          }

          .profile-name-area {
            margin: 30px;
            display: flex;
            justify-content: space-between;

            p {
              margin: 0;
              font-size: 30px;
            }

            button {
              font-size: 12px;
              margin-right: 20px;
            }
          }

          .profile-introduction-area {
            margin: 35px 30px;

          }
        }

      }
    }

    .contents-post {
      height: 100%;
      width: 55%;
      padding-left: 30px;

      /* ulのデフォルトスタイルを消去 */
      .tabs-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0 auto;
        display: table;
      }

      /* タブの基本スタイル */
      .tabs-menu li {
        float: left;
        text-align: center;
        width: 160px;
        margin-bottom: -1px;
        border-style: solid;
        border-width: 1px;
        border-color: #999;
        border-radius: 4px 4px 0 0;

        /* 各プロパティをふわっと変える演出 */
        transition: all .15s;
      }
      .tabs-menu a {
        display: block;
        padding: 10px 20px;
        color: #557F95;
        text-decoration: none;
      }

      /* 非選択のタブにマウスカーソルを乗せたら色を変える */
      .tabs-menu li:not(.active) {
        background-color: #f3f3f3;
      }

      /* 選択中のタブの色を設定 */
      .tabs-menu .active {
        border-color: #999 #999 transparent #999;
        background-color: #fff;
      }

      .tabs-menu .active a {
        color: #3F4548;
      }

      /* タブコンテンツ表示エリア */
      .tabs-content {
        clear: both;
        border-top: 1px solid #999;
        border-radius: 0 4px 4px 4px;
        padding: 10px;
      }

      /* 各タブのコンテンツはデフォルトで非表示 */
      .tabs-content section {
        display: none;
      }
    }
  }
}

.plan-item-wrapper{
  padding: 30px 0px;

  .plan-item {
    height: 180px;
    padding: 20px 15px;
    margin-bottom: 15px;
    border: solid 1px rgba(204, 204, 204, 0.8);
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .5);
    display: flex;
    text-decoration: none;
    color: black;

    .plan-image {
      height: 100%;
      width: 120px;
      border-radius: 10px;
      object-fit: cover;
    }

    .plan-tag {
      display: inline-block;
      font-size: 12px;
      border-radius: 100vh;
      padding: 2px 10px;
      color: #fff;
      background-color: #7dcafa;
    }

    .plan-outline-wrapper {
      padding-left: 30px;

      .plan-title {
        display: inline-block;
        font-size: 20px;
        margin: 0 0 7px 0;
        padding: 0;
        // border-bottom: solid 1px black;
        text-decoration: underline 0.5px;
      }

      .icon-area {
        margin: 5px 0 7px 0;

        .bi {
          margin: 0 5px 0 10px;
        }

        .bi-star-fill {
          color: #fcc800;
        }

        .bi-geo-fill {
          color: #0068b7;
        }

        .bi-pencil-square {
          margin-right: 8px;
          color: #5f5f5f;
        }
      }
    }
  }
  .plan-item:last-child {
    margin-bottom: 0;
  }
}

.spot-item-outer {
  display: grid;
  place-items: center;
}

.spot-item-wrapper {
  padding: 20px 0px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .spot-item {
    height: 320px;
    width: 250px;
    margin: 0 20px 30px 20px;
    padding: 0;
    border: solid 0.5px rgba(77, 77, 77, 0.5);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;

    .spot-image-outer {
      height: 200px;
      background-color: #f5f5f5;
      border-bottom: solid 0.5px rgba(77, 77, 77, 0.5);
      display: flex;
      justify-content: center;

      .spot-image {
        margin: 4%;
        max-height: 90%;
        max-width: 85%;
        flex-wrap: wrap;
        border-radius: 5px;
      }
    }

    .spot-title-area {
      padding: 5px 10px;

      p {
        margin: 8px 0 0 0;
        text-align: center;
        text-decoration: underline;
      }
    }

    .icon-area {
      margin: 8px 0 7px 0;
      text-align: center;

      .bi {
        margin: 0 5px 0 10px;
      }

      .bi-star-fill {
        color: #fcc800;
      }

      .bi-geo-fill {
        color: #0068b7;
      }

      .bi-pencil-square {
        margin-right: 8px;
        color: #5f5f5f;
      }
    }
  }
}
