.mypage {
  padding: 150px 10% 90px 10%;
}

.contents-outer {
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
  min-height: 920px;
  // max-width: 1200px;

  .contents-title {
    text-align: center;
    padding-top: 30px;
  }

  .contents-wrapper {
    // display: flex;
    // justify-content: center;
    height: 85%;
    margin-top: 50px;

    .contents-profile {
      margin-top: 40px;
      // width: 30%;
      // min-width: 370px;

      .profile-area-outer {
        border: solid 1px rgba(204, 204, 204, 0.8);
        border-radius: 10px;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3);

        .profile-area {
          margin: 0 20px;

          h3 {
            margin: 20px 0 35px 0;
            text-align: center;
          }

          .profile-info-area {
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-image-area {
              width: 155px;

              img {
                width: 155px;
                height: 155px;
                border-radius: 50%;
              }
            }

            .profile-count-area {
              width: 55%;
              display: flex;
              justify-content: center;

              h4 {
                text-align: center;
              }

              .post-count-area {
                width: 50%;
              }

              .followed-count-area {
                width: 50%;
              }
            }
          }

          .profile-name-area {
            margin: 30px;
            display: flex;
            justify-content: space-between;

            p {
              margin: 0;
              font-size: 30px;
            }

            button {
              font-size: 12px;
              margin-right: 20px;
            }
          }

          .profile-introduction-area {
            margin: 35px 30px;

          }
        }

      }
    }

    .contents-post {
      height: 100%;
      // width: 55%;
      // padding-left: 30px;

      /* ulのデフォルトスタイルを消去 */
      .tabs-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0 auto;
        display: table;
      }

      /* タブの基本スタイル */
      .tabs-menu li {
        float: left;
        text-align: center;
        width: 160px;
        margin-bottom: -1px;
        border-style: solid;
        border-width: 1px;
        border-color: #999;
        border-radius: 4px 4px 0 0;

        /* 各プロパティをふわっと変える演出 */
        transition: all .15s;
      }
      .tabs-menu a {
        display: block;
        padding: 10px 20px;
        color: #557F95;
        text-decoration: none;
      }

      /* 非選択のタブにマウスカーソルを乗せたら色を変える */
      .tabs-menu li:not(.active) {
        background-color: #f3f3f3;
      }

      /* 選択中のタブの色を設定 */
      .tabs-menu .active {
        border-color: #999 #999 transparent #999;
        background-color: #fff;
      }

      .tabs-menu .active a {
        color: #3F4548;
      }

      /* タブコンテンツ表示エリア */
      .tabs-content {
        clear: both;
        border-top: 1px solid #999;
        border-radius: 0 4px 4px 4px;
        padding: 10px;
      }

      /* 各タブのコンテンツはデフォルトで非表示 */
      .tabs-content section {
        display: none;
      }
    }
  }
}

@media (min-width: 1201px) {
    .contents-wrapper {
      display: flex;
      justify-content: center;
    }

    .contents-profile {
      width: 30%;
      min-width: 370px;
    }

    .contents-post {
      width: 55%;
      padding-left: 30px;
    }
}

@media (max-width: 1200px) {
  .contents-outer{
    min-width: 760px;
  }
    .contents-wrapper {
      display: block;
    }

    .contents-profile {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .profile-area-outer {
      width: 400px;
    }

    .contents-post {
      width: 100%;
      padding: 10%;
    }
}
