
.spot-page-body {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

  .spot-page-outer {
    width: 90%;
    max-width: 1300px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
  }

  .plan-move-area {
    text-align: center;
    margin-bottom: 60px;

    .move-button {
      font-size: 18px;
      width: 400px;
      height: 45px;
    }
  }
}
