@charset "UTF-8";

.searchpage-outer {
  padding-bottom: 30px;
}

.searchpage-title {
  text-align: center;
  margin-top: 40px;
}

.searchpage-title h2 {
  font-weight: 700;
}

.search-box-area {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search-box-area .search-box-area-wrapper {
  width: 800px;
}

.search-box-area .search-box-area-wrapper .form-body-area {
  width: 800px;
}

.search-box-area .search-box-area-wrapper .form-title-area p {
  margin: 0;
  padding: 5px;
}

.search_container {
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
}

.search_container .search-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search_container .radio-button-area {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_container .radio-button-area input {
  margin: 20px 10px;
  border: 1px solid #575757;
}

.search_container .radio-button-area span {
  margin-right: 50px;
}

.search_container .keytag-search {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 35px 0;
}

.search_container .keytag-search .keytag-plan-search {
  width: 80%;
}

.search_container .keytag-search .search-button-wrapper {
  width: 20%;
}

.search_container .keytag-search .search-button-plan {
  padding: 30px 0 0 20px;
}

.search_container .keytag-search .search-item {
  display: flex;
}

.search_container .keytag-search .search-item i {
  margin: 8px 15px 0 0;
}

.search_container .keytag-search .item-transportation {
  width: 45%;
}

.search_container .keytag-search .item-transportation select {
  width: 80%;
  border: 1px solid #575757;
}

.search_container .keytag-search .item-days {
  width: 43%;
  margin-right: 10px;
}

.search_container .keytag-search .item-days select {
  width: 80%;
  border: 1px solid #575757;
}

.search_container .keytag-search .item-stay {
  width: 25%;
}

.search_container .keytag-search .item-stay select {
  width: 80%;
  border: 1px solid #575757;
}

.search_container .keytag-search .item-address {
  width: 60%;
}

.search_container .keytag-search .item-address input {
  width: 90%;
  border: 1px solid #575757;
}

.search_container .keytag-search .item-address-plan {
  width: 100%;
}

.form-search-fromword .search_container input[type=text] {
  padding-left: 20px;
  border: none;
  border: 1px solid #575757;
  height: 35px;
  width: 700px;
}

.search_container input[type=text]:focus {
  outline: 0;
}

.search_container button[type=submit] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #575757;
  color: #fff;
  outline: none;
  min-width: 3em;
  height: 35px;
  margin-top: 0.5px;
  padding: 0 10px;
  text-align: center;
}

.search_container button[type=submit] i {
  font-size: 20px;
}

/* アコーディオンのタイトル部分 */

.accordion-title {
  margin: 0;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  font-size: 1rem;
}

.accordion-title a {
  display: block;
  padding: 6px;
  color: #3F4548;
  text-decoration: none;
}

/* アコーディオンのコンテンツ部分 */

.accordion-content {
  /* 初期状態では非表示 */
  display: none;
  padding: 12px 6px;
  border: 1px solid #ccc;
}

/* accordion-content-activeクラスが付いているものは初期状態で表示しておく */

.accordion-content.accordion-content-active {
  display: block;
}

.search-result-area {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.search-result-area .search-error-result {
  margin-top: 40px;
}

